{% extends 'note/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Note App - Login
{% endblock %}

{% block content %}
<div class="card w-50 mx-auto" style="margin-top: 150px;">
    <div class="card-header">
        <header>Registration</header>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-2">
                {{form.username|as_crispy_field}}
            </div>
            <div class="mb-2">
                {{form.email|as_crispy_field}}
            </div>
            <div class="mb-2">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="mb-2">
                {{form.password2|as_crispy_field}}
            </div>
            <div class="mb-2">
                <input type="submit" class="btn btn-success" value="Register">
            </div>
        </form>
        <hr>
        <p>Already have account, <a href="{% url 'login' %}" style="text-decoration: None;"> <strong>Log in
                </strong></a></p>
    </div>
</div>
{% endblock %}