{% extends "note/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Note App -
{% endblock %}

{% block content %}
<div class="w-50 card mx-auto" style="margin-top: 100px;">
    <div class="card-header">
        <a href="#" class="btn btn-dark"> Back </a>
    </div>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-2">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="mb-2">
                {{ form.content|as_crispy_field }}
            </div>
            <div class="mb-2">
                {{ form.complete|as_crispy_field }}
            </div>
            <div class="mb-2">
                <input type="submit" name="Create" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock %}